<%- include("./partials/header") %>


    <div class="row">
        <div class= "col-md-6 ml-5 mt-5">
              
            <form class="form-control" method="POST" action="/cluckr">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Image URL:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput" name="img_url" placeholder="https://imgur.com/">
                </div>
                <button type="submit" class="btn btn-lg btn-secondary mt-3 ">Submit</button>
            </form>
        
         </div>
    </div>

<%- include("./partials/footer") %>