<%- include("./partials/header") %>

    <div class="row">
        <div class= "col-md-6">
            <div class="form-view">
                <form class="form-control" method="POST" action="/sign">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="sign-in" class="btn btn-lg btn-secondary mt-3  ">Sign in</button>                    
                    </div> 
            </form>
        </div>
        
        
        
        </div>  
    </div>
            
 
<%- include("./partials/footer") %>


