<%- include("./partials/header") %>

    
    <div class="form-view">
        <form class="form-control" method="POST" action="/sign">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
                <button type="sign-in" class="btn btn-secondary mt-3">Sign in</button>
            </div>

        </form>
    </div>
 
<%- include("./partials/footer") %>


